/* Clean Form Elements | MIT License */

/*** UNIVERSAL STYLES ***/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #888888;
}

/* all controls except file upload, range, and inputs without a type */
input[type="button"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select,
button,
a.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    outline: 0;
    vertical-align: central;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    width: auto;
    height: 2em;
    height: -moz-calc(1.15em + 10px);
    height: -webkit-calc(1.15em + 10px);
    height: calc(1.25em + 10px);
}

/* non-button controls */
textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    background-color: white;
    color: black;
    text-align: left;
    box-shadow: inset 0 1px 3px #ddd;
}

/* size corrections */
select,
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
    padding: 3px 4px;
}

input[type="color"] {
    padding: 1px 4px;
    min-width: 2em;
    min-width: calc(1.25em + 10px);
}

textarea,
select[size],
select[multiple] {
    height: auto;
}

select[size="0"],
select[size="1"] {
    height: 1.8em;
}

/* style corrections */
input[type="radio"],
input[type="checkbox"] {
    box-shadow: none;
    border-color: transparent;
}

select {
    background-color: white;
}

input[type="search"]::-webkit-search-decoration {
    display: none;
}

/* button styles */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    background: #dddddd url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAAAAADhgtq/AAAAHElEQVQoz2P8z4ADsOCW+UeGnsFs2nDzz5AMHQA+JRlAyyOraAAAAABJRU5ErkJggg==') repeat-x; /* For IE8&9 */
    background-image: linear-gradient(#ffffff, #dddddd);
    color: #333333;
    border-color: #dddddd #bbbbbb #999999;
    cursor: pointer;
    padding: 4px 10px;
    text-shadow: white 0 1px 1px;
    overflow: visible;
}

    /* Prevent Firefox from increasing the size of buttons */
    button::-moz-focus-inner,
    a.button::-moz-focus-inner,
    input[type="reset"]::-moz-focus-inner,
    input[type="submit"]::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner {
        border: 0;
        padding: 0;
    }


    /*** STATES ***/

    /* HOVER */
    /* darken buttons a bit on hover */
    button:hover,
    a.button:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
        background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    }


    /* FOCUS */
    /* highlight the selected control */
    input[type="button"]:focus,
    input[type="checkbox"]:focus,
    input[type="color"]:focus,
    input[type="date"]:focus,
    input[type="datetime-local"]:focus,
    input[type="email"]:focus,
    input[type="month"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus,
    input[type="radio"]:focus,
    /*input[type="range"]:focus,*/
    input[type="reset"]:focus,
    input[type="search"]:focus,
    input[type="submit"]:focus,
    input[type="tel"]:focus,
    input[type="text"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    input[type="week"]:focus,
    button:focus,
    a.button:focus,
    select:focus,
    textarea:focus {
        box-shadow: #0066ff 0 0 5px 0; /* blue highlight */
    }

/* focus on non-button controls that have a natural border */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-color: #129FEA; /* blue border */
}

/* focus for controls that don't have a natural border */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    box-shadow: none;
    outline: 1px auto #129FEA;
}

/* pressed button appearance */
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
    background-image: linear-gradient(#dddddd, #eeeeee);
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    border-color: #999999 #bbbbbb #dddddd;
}


/* INVALID */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
    box-shadow: none;
}

input[type="radio"]:focus:invalid,
input[type="checkbox"]:focus:invalid {
    outline-color: #e9322d;
}


/* DISABLED */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
    box-shadow: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    color: #888888;
    cursor: default;
}

textarea[disabled],
select[disabled],
input[disabled],
button[disabled] {
    background-color: #eaeded;
}

/* READONLY */
input[readonly],
select[readonly],
textarea[readonly] {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}


/*** STYLING ***/

textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%;
}

optgroup {
    color: black;
    font-style: normal;
    font-weight: normal;
}

    /* Prevent Firefox from increasing the size of optgroup */
    optgroup::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

fieldset {
    margin: 0.5em 0;
    padding: 0.5em 0;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0 0 0.3em;
    margin: 0;
    border-bottom: 1px solid #ddd;
}


/* --------------------------- */
/* site styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#mainarea {
    margin: 20px;
}

ul.mainmenu {
    overflow: hidden;
    list-style-type: none;
    margin: 0 -2px;
    padding: 0;
    background-color: #666;
    color: #fff;
}
ul.mainmenu > li {
    display: block;
    float: left;
    border-left: 1px solid #777;
    border-right: 1px solid #555;
    margin-left: -2px;
}
ul.mainmenu > li.right {
    float: right;
}
#sitename,
.mainmenu a {
    display: block;
    height: 2.6em;
    line-height: 2.6em;
}
#sitename {
    padding: 0 2.8em;
    font-weight:bold;
}
.mainmenu a {
    padding: 0 1.4em;
    text-decoration: none;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
}
.mainmenu a,
.mainmenu a:visited {
    color: #fff;
}
ul.mainmenu a:hover {
    background-color: #444;
}

.messages {
    display: block;
    margin: 2em auto;
    max-width: 760px;
    text-align: center;
}
.message {
    display: block;
    background-color: #ffb;
    border-radius: 10px;
    padding: 0.8em 1.2em;
    color: #000;
    margin:1em 0;
}

.signin,
.signout {
    width: 320px;
    padding:1em;
    text-align: center;
    margin:2em auto;
    background-color: #eee;
    border-radius:10px;
}

.signin .field {
    margin: 0.6em 0;
}
.signin label,
.signin .hint {
    color: #444;
    font-size: 80%;
}
p.hint {
    margin-top: 2em;
}
.signin label[for="Email"],
.signin label[for="Password"] {
    text-align:left;
    margin: 0.8em auto 0.3em;
    display: block;
    width: 280px;
}
.signin input[name="Email"],
.signin input[name="Password"],
.signin input[type="submit"] {
    font-size: 115%;
    width: 280px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}
.signin input[type="submit"] {
    height: 2.4em;
}
