<div id="emailhelp">
    <p>
        <h4>How to Fix Email Problems</h4>
        <ol>
            <li>Send a blank message to <a href="mailto:todo">signin@todo.com</a></li>
            <li><a asp-action="SignIn">Request a new code</a></li>
        </ol>
    </p>
    <p>If that doesn't work, check your spam folder.</p>
</div>
