@using SimpleIAM.IdAuthority.Configuration
@inject IdProviderConfig config

<nav id="mainnav">
    <h1 id="sitename">
        <a asp-action="Index" asp-controller="Home">@config.DisplayName</a>
    </h1>
    @if (User.Identity.IsAuthenticated)
    {
        <ul id="mainmenu" class="menu">
            <li><a asp-action="Apps" asp-controller="Home">Apps</a></li>
        </ul>
        <ul id="authmenu" class="menu">
            <li class="primary"><a asp-action="AccountSettings" asp-controller="Account">@User.Identity.Name</a></li>
            <li><a asp-action="SignOut" asp-controller="Account">Sign out</a></li>
        </ul>
    }
    else
    {
        <ul id="authmenu" class="menu">
            <li><a asp-action="Register" asp-controller="Account">Register</a></li>
            <li class="primary"><a asp-action="@config.SignInAction" asp-controller="Account">Sign in</a></li>
        </ul>
    }
</nav>
