@model SimpleIAM.PasswordlessLogin.UI.Authenticate.SignedOutViewModel
@{
    ViewData["Title"] = "Sign Out";
}

<div class="focusBox focusBox-centered">
    <h2 class="focusBox_title">Goodbye!</h2>

    @if (Model.SignOutIFrameUrl != null)
    {
        <iframe style="display:none" width="0" height="0" class="signout" src="@Model.SignOutIFrameUrl"></iframe>
    }
    <p>You have been signed out</p>

    <div class="minorNav signIn_footer">
    @if (Model.PostLogoutRedirectUri != null)
    {
        <text>Return to <a href="@Model.PostLogoutRedirectUri">@Model.AppName</a></text>
    }
    else
    {
        <a asp-action="SignIn">Sign in</a>
    }
    </div>
</div>