@model SimpleIAM.PasswordlessLogin.Orchestrators.AuthenticatePasswordInputModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="focusBox focusBox-centered @if (ViewBag.Message == null) {<text>focusBox-delayedFadeIn</text>}">
    <h2 class="focusBox_title">Sign In</h2>
    <passwordless-sign-in next-url="@Model.NextUrl" login-hint="@Model.Username">
        <partial name="_SignInFallback" for="@Model" />
    </passwordless-sign-in>
</div>

@section scripts {
    <script src="~/dist.main.js" asp-append-version="true"></script>
}
