@model SimpleIAM.OpenIdAuthority.Orchestrators.SendPasswordResetMessageInputModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="focusBox focusBox-centered">
    <h2 class="focusBox_title">Forgot Password</h2>
    <div class="signIn">
        <form class="form" method="post">
            <div class="field field-stacked form_row">
                <label asp-for="Username" class="field_label">Email</label>
                <input class="field_element field_element-fullWidth signIn_username" type="text" asp-for="Username" placeholder="you@example.com" autofocus />
                <span asp-validation-for="Username" class="field_error"></span>
            </div>
            <div style="display:none">
                <input type="text" name="leaveBlank" placeholder="leave blank" autocomplete="off" />
            </div>            
            <div class="field form_row">
                <button type="submit" class="field_element field_element-fullWidth field_element-tall signIn_passwordResetButton">Get password reset email</button>
            </div>
        </form>
        @if (ViewBag.Message != null)
        {
        <div class="message message-notice signIn_message">
        @ViewBag.Message
        </div>
        }
        <div class="minorNav signIn_footer">
            <a href="/signin" class="signIn_goBackButton">Sign in</a>
        </div>
    </div>
</div>