@model SimpleIAM.OpenIdAuthority.UI.Authenticate.SignInViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="focusBox focusBox-centered">
    <h2 class="focusBox_title">Forgot Password</h2>
    <p>Not implemented yet</p>
</div>