@model SimpleIAM.OpenIdAuthority.UI.Authenticate.SignInPassViewModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="focusBox focusBox-centered">
    <h2 class="focusBox_title">Sign In</h2>
    <form method="post">
        <div class="field field-stacked form_row">
            <label asp-for="Email" class="field_label">Email</label>
            @if (Model.Email != null)
            {
                <input class="field_element field_element-fullWidth" type="email" asp-for="Email" placeholder="email" />
            }
            else
            {
                <input class="field_element field_element-fullWidth" type="email" asp-for="Email" placeholder="email" autofocus />
            }
            <span asp-validation-for="Email" class="field_error"></span>
        </div>
        <div class="field field-stacked form_row">
            <label asp-for="Password" class="field_label">Password</label>
            @if (Model.Email != null)
            {
                <input class="field_element field_element-fullWidth" type="password" asp-for="Password" placeholder="password" autofocus />
            }
            else
            {
                <input class="field_element field_element-fullWidth" type="password" asp-for="Password" placeholder="password" />
            }
            <span asp-validation-for="Password" class="field_error"></span>
        </div>
        <div class="field field-stacked form_row" style="display:none">
            <label asp-for="LeaveBlank" class="field_label">Leave blank</label>
            <input class="field_element field_element-fullWidth" type="text" asp-for="LeaveBlank" placeholder="leave blank" autocomplete="off" />
            <span asp-validation-for="LeaveBlank" class="field_error"></span>
        </div>
        <div class="field form_row">
            <input type="submit" value="Sign in" class="field_element field_element-fullWidth field_element-tall" />
        </div>
        @await Html.PartialAsync("_StaySignedIn", new SimpleIAM.OpenIdAuthority.UI.Authenticate.SessionLengthViewModel(Model.SessionLengthMinutes))
    </form>

    <p class="hint">
        Forgot password? <a asp-action="SignIn" asp-route-returnUrl="@Model.ReturnUrl">Sign in with email</a>
    </p>
</div>