@model SimpleIAM.OpenIdAuthority.UI.Account.SetPasswordModel
@{
    ViewData["Title"] = "Get One Time Code";
}

<h2>Update Account</h2>
<p>You will need a one time code to continue</p>
<form method="post">
    <div class="field">
        <input type="hidden" name="GetOneTimeCode" value="true" />
        <input type="submit" value="Get one time code" />
    </div>
</form>
