@model SimpleIAM.OpenIdAuthority.UI.Account.RemovePasswordModel
@{
    ViewData["Title"] = "Remove Password";
}
<div class="focusBox focusBox-centered">
  <h2 class="focusBox_title">Remove Password</h2>
<p>Enter your one time code to confirm you want to remove your password.</p>
<form method="post" class="form">
    <div class="field field-stacked form_row">
        <label asp-for="OneTimeCode" class="field_label">One Time Code</label>
        <input class="field_element field_element-fullWidth" type="text" asp-for="OneTimeCode" placeholder="000000" />
        <span asp-validation-for="OneTimeCode" class="field_error"></span>
    </div>
    <div class="field">
        <input class="field_element field_element-fullWidth field_element-tall" type="submit" value="Remove password" />
    </div>
</form>
</div>