@model SimpleIAM.OpenIdAuthority.UI.Account.RemovePasswordModel
@{
    ViewData["Title"] = "Remove Password";
}
<h2>Remove Password</h2>
<p>Enter your one time code to confirm you want to remove your password.</p>
<form method="post">
    <div class="field">
        <label asp-for="OneTimeCode">One Time Code</label>
        <input type="text" asp-for="OneTimeCode" placeholder="000000" />
        <span asp-validation-for="OneTimeCode"></span>
    </div>
    <div class="field">
        <input type="submit" value="Remove password" />
    </div>
</form>
