@model SimpleIAM.OpenIdAuthority.UI.Account.SetPasswordModel
@{
    ViewData["Title"] = "Set Password";
}

<div class="focusBox focusBox-centered">
  <h2 class="focusBox_title">Set New Password</h2>
    @if(Model.NextUrl != null)
    {
    <p class="message message-notice">You can always use a one time code to sign in, so you don't really need a password. But if you sign in often, you're welcome to set a password.</p>
    }
  <form method="post" class="form">
    <div class="field field-stacked form_row">
      <label class="field_label" asp-for="NewPassword">New Password</label>
      <input class="field_element field_element-fullWidth" type="password" asp-for="NewPassword" placeholder="password" data-min-strength="@Model.MinimumPasswordStrengthInBits" />
      <div id="passwordfeedback"></div>
      <p>Estimated strength: <strong><span id="passwordstrengthbits">0</span> bits</strong>
      <br>(must be @Model.MinimumPasswordStrengthInBits bits or stronger)</p>
      <span class="field_error" asp-validation-for="NewPassword"></span>
    </div>
    <div class="field field-stacked form_row">
      <label class="field_label" asp-for="ConfirmPassword">Confirm Password</label>
      <input class="field_element field_element-fullWidth" type="password" asp-for="ConfirmPassword" placeholder="password" />
      <span id="confirm-password-error" class="field_error" asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="fields fields-flexSpaceBetween form_row">
        <div class="field">
            <input class="field_element field_element-fullWidth field_element-tall" type="submit" id="setpassword" value="Set password" />
        </div>
        @if(Model.NextUrl != null)
        {
        <div class="field">
            <input type="hidden" asp-for="NextUrl" />
            <input id="skip" class="field_element field_element-tall" type="submit" name="Skip" value="Skip" />
        </div>
        }
    </div>
  </form>
</div>
@section scripts {
    <script type="text/javascript" src="~/zxcvbn.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/setpassword.js" asp-append-version="true"></script>
}
