@model SimpleIAM.IdAuthority.UI.Authenticate.SignInCodeViewModel
@{
    ViewData["Title"] = "Sign In with Code";
}


<div class="signin">
    @if (Model.Email != null)
    {
        <h2>Check Your Email</h2>
    }
    else
    {
        <h2>Sign In with Code</h2>
    }
    <form method="post">
        @if (Model.Email != null)
        {
            <div class="field">
                <div class="displayemail">@Model.Email</div>
                <input type="hidden" asp-for="Email" />
            </div>
        }
        else
        {
            <div class="field">
                <label asp-for="Email">Email</label>
                <input type="email" asp-for="Email" placeholder="email" autofocus />
                <span asp-validation-for="Email"></span>
            </div>
        }
        <div class="field">
            <label asp-for="OneTimeCode">Enter One Time Code</label>
            @if (Model.Email != null)
            {
                <input type="text" asp-for="OneTimeCode" placeholder="000000" maxlength="8" autofocus />
            }
            else
            {
                <input type="text" asp-for="OneTimeCode" placeholder="000000" maxlength="8" />
            }
            <span asp-validation-for="OneTimeCode"></span>
        </div>
        <div class="field" style="display:none">
            <label asp-for="LeaveBlank">Leave blank</label>
            <input type="text" asp-for="LeaveBlank" placeholder="leave blank" autocomplete="off" />
            <span asp-validation-for="LeaveBlank"></span>
        </div>
        <div class="field">
            <input type="submit" value="Sign in" />
        </div>
        @await Html.PartialAsync("_StaySignedIn", new SimpleIAM.IdAuthority.UI.Authenticate.SessionLengthViewModel(Model.SessionLengthMinutes))

    </form>

    <p class="hint">
        <a asp-action="SignIn">Get a new code</a>
        &bull;
        <a href="#emailhelp">Not receiving emails?</a>
    </p>
    <p class="hint">
        <a asp-action="SignInPass">Sign in with password</a>
    </p>

    @await Html.PartialAsync("_EmailHelp")

</div>