@model SimpleIAM.PasswordlessLogin.UI.Account.MyAccountViewModel
@{
    ViewData["Title"] = "My Account";
}
<div class="focusBox focusBox-centered">
  <h2 class="focusBox_title">My Account</h2>

<h3>Sign in options</h3>
<ol id="signinoptionlist">
    <li>
        One time code via
        <strong>@Model.Email</strong>
    </li>
    <li>
        Password
        @if (Model.PaswordLastChangedUTC != null)
        {
            <text>set on <time datetime="@(((DateTime)Model.PaswordLastChangedUTC).ToString("s", System.Globalization.CultureInfo.InvariantCulture)).000Z">@Model.PaswordLastChangedUTC.ToString()</time></text>
            <br />
            <a asp-action="SetPassword">Change Password</a>
            <text>&bull;</text>
            <a asp-action="RemovePassword">Remove Password</a>
        }
        else
        {
            <a asp-action="SetPassword">Set Password</a>
        }
    </li>
</ol>
</div>
@section scripts {
    <script type="text/javascript" src="~/timezonize.js" asp-append-version="true"></script>
}
