@model SimpleIAM.IdAuthority.UI.Authenticate.AccountSettingsViewModel
@{
    ViewData["Title"] = "Account Settings";
}
<h2>Account Settings</h2>

<p>
    <h3>@Model.Email</h3>
</p>

<p>Set Password / Change Password</p>
