@model SimpleIAM.IdAuthority.UI.Account.SignInViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="signin">
    <h2>Register</h2>
    <form method="post" asp-action="SignIn">
        <div class="field">
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" placeholder="email" autofocus />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="field" style="display:none">
            <label asp-for="LeaveBlank">Leave blank</label>
            <input type="text" asp-for="LeaveBlank" placeholder="leave blank" autocomplete="off" />
            <span asp-validation-for="LeaveBlank"></span>
        </div>
        <div class="field">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <input type="submit" value="Register" />
        </div>
    </form>

    <p class="hint">
        <a asp-action="SignIn" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a>
    </p>
</div>