@model SimpleIAM.IdAuthority.UI.Account.SetPasswordModel
@{
    ViewData["Title"] = "Set Password";
}

<h2>Set or Change Password</h2>
<form method="post">
    <div class="field">
        <label asp-for="OneTimeCode">One Time Code</label>
        <input type="text" asp-for="OneTimeCode" placeholder="000000" />
        <span asp-validation-for="OneTimeCode"></span>
    </div>
    <div class="field">
        <label asp-for="NewPassword">New Password</label>
        <input type="password" asp-for="NewPassword" placeholder="password" data-min-strength="@Model.MinimumPasswordStrengthInBits" />
        <div id="passwordfeedback"></div>
        <p>Estimated strength: <strong><span id="passwordstrengthbits">0</span> bits</strong> (must be @Model.MinimumPasswordStrengthInBits bits or stronger)</p>
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="field">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword" placeholder="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="field">
        <input type="submit" id="setpassword" value="Set password" />
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="~/zxcvbn.js"></script>
    <script type="text/javascript" src="~/setpassword.js"></script>
}
