@model SimpleIAM.IdAuthority.UI.Account.SetPasswordModel
@{
    ViewData["Title"] = "Set Password";
}
<h2>Set or Change Password</h2>

<form method="post">
    <div class="field">
        <input type="hidden" name="GetOneTimeCode" value="true" />
        <input type="submit" value="Get one time code" />
        <span asp-validation-for="GetOneTimeCode"></span>
    </div>
</form>
<form method="post">
    <div class="field">
        <label asp-for="OneTimeCode">One Time Code</label>
        <input type="text" asp-for="OneTimeCode" placeholder="000000" />
        <span asp-validation-for="OneTimeCode"></span>
    </div>
    <div class="field">
        <label asp-for="NewPassword">New Password</label>
        <input type="password" asp-for="NewPassword" placeholder="password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="field">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword" placeholder="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="field">
        <input type="submit" value="Set password" />
    </div>
</form>
