@{
    ViewData["Title"] = "Sign In";
}


<div class="signin">
    <h2>Check Your Email</h2>
    <p>
        A sign in link and a one time password have been sent to your email address.
    </p>
    <p class="hint">
        <a asp-action="SignInPass">Sign in with password</a>
    </p>
</div>