@model SimpleIAM.OpenIdAuthority.UI.Authenticate.SessionLengthViewModel
<div class="field">
    <label for="SessionLengthMinutes">Stay signed in for</label>
    <select asp-for="SessionLengthMinutes">
        <option value="15">15 minutes</option>
        <option value="720">12 hours</option>
        <option value="44640">1 month</option>
    </select>
</div>
